<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Четное-нечетное</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Жди нас, {{name}}!</h1>
                    
<h2 class="grey_title sizebox">Человек вырастает из детсвтва</h2>
<h2 class="sizebox" id="green">Человеку мала одна планета</h2>
<h2 class="grey_title sizebox">Мы сделаем обитаемм=ыми безжизненные планеты</h2>
<h2 class="sizebox" id='yellow'>И начнём с марса</h2>
<h2 class="sizebox" id='red'>Присоединяйся</h2>
</body>
</html>